<%- include('header'); -%>
<form class = "create" action="/" method="post">
    <div>
        <div class="tit">
            <h5>title</h5>
        </div>
        <input style="margin-top: 0;" type="text" name ="title" placeholder="Enter blog title"/> 
    </div>
    <div class="tit">
        <h5>Post</h5>
    </div>
        <textarea type="text" name="post" placeholder="Enter New Blog Post"></textarea>
    <div>
        <input style="background-color: rgb(138, 138, 231); border-radius: 20px;"type = "submit" value = "Create Post">
    </div>
</form>
<%- include('footer'); -%>